@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@theme {
    --font-poppins: 'Poppins', sans-serif;

    --utility-font-poppins: {
        font-family: var(--font-poppins);
    }
}

@layer base {
    * {
        @apply p-0 m-0 font-poppins box-border scroll-smooth;
    }

    body {
        @apply bg-linear-to-b from-[#2b1055] to-[#7597de] min-h-screen overflow-x-hidden;
    }

    header {
        @apply absolute top-0 left-0 w-full p-[30px_100px] flex justify-between items-center z-10000;
    }

    header .logo {
        @apply text-white font-bold text-[2em] uppercase tracking-[2px];
    }

    header ul {
        @apply flex justify-center items-center;
    }

    header ul li {
        @apply list-none ml-5;
    }

    header ul li a {
        @apply p-[6px_15px] text-white rounded-[20px];
    }

    header ul li a:hover,
    header ul li a.active {
        @apply bg-white text-[#2b1055];
    }

    section {
        @apply relative w-full h-screen p-[100px] flex justify-center items-center overflow-hidden;
    }

    section img {
        @apply absolute top-0 left-0 w-full h-full object-cover pointer-events-none;
    }

    .sec {
        @apply relative p-[100px] bg-[#1c0522];
    }

    .sec h2 {
        @apply text-[3.5em] mb-[10px] text-white;
    }

    .sec p {
        @apply text-[1em] text-white;
    }

    section::before {
        @apply content-[''] absolute bottom-0 w-full h-[100px] bg-linear-to-t from-[#1c0522] to-transparent z-1000;
    }

}

@layer components {
    section img#moon {
        @apply mix-blend-screen z-4;
    }

    section img#mountain-front {
        @apply z-3;
    }

    #text {
        @apply absolute text-white whitespace-nowrap text-[7.5vw] z-2 right-[-500px];
    }

    #btn {
        @apply no-underline p-[8px_30px] rounded-[40px] bg-white text-[#2b1055] text-[1.5em]
        inline-block translate-y-[100px] z-2;
    }
}